body {
  padding: 30px;
}

.jumbotron {
  margin-bottom: 30px;
}

.answer, .question, .relax {
  text-align: center;
}

.answer img,
.question img {
  height: 250px;
  margin: 2px;
}

.answer img {
  cursor:pointer;
}